/* Home - animacije */

@keyframes kvadratKapaAnimacija {
  0% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: scale(0.99) translateY(20px);
  }
}

@keyframes kvadratAnimacija {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes sjenaAnimacija {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(-15px);
  }
}

@keyframes laptopAnimacija {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0) !important;
  }
}

@keyframes tockaAnimacija {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes heroTekstAnimacija {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shine {
  0% {
    background-position: -170px;
  }
  70% {
    background-position: 500px;
  }
  100% {
    background-position: 500px;
  }
}

/* Section - animacije */

@keyframes closeSection {
  0% {
    visibility: "visible";
    opacity: 1;
    transform: translateY(0);
    pointer-events: initial;
  }
  99.9999% {
    opacity: 0;
    transform: translateY(-70px);
  }
  100% {
    opacity: 0;
    transform: translateY(70px);
    visibility: "hidden";
    display: none;
    pointer-events: none;
  }
}

@keyframes newSection {
  0% {
    display: none;
    visibility: "hidden";
    transform: translateY(70px);
    opacity: 0;
    pointer-events: none;
  }
  0.0001% {
    display: flex;
    visibility: "visible";
    transform: translateY(70px);
    opacity: 0;
  }
  100% {
    display: flex;
    visibility: "visible";
    transform: translateY(0);
    opacity: 1;
    pointer-events: initial;
  }
}

/* Contact - animacije */

@keyframes radioButton {
  0% {
    transform: scale(0);
  }

  33% {
    transform: scale(1.18);
  }

  66% {
    transform: scale(0.82);
  }

  100% {
    transform: scale(1);
  }
}

/* Navigacija - animacije ikona */

@keyframes navIconAnimate {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(4px);
  }
  66% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
